* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: black;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	text-align: center;
	background-color: #EFF0F2;
	line-height: 1.5;
	padding: auto 4em;
	color: #555;
}

h1, h2, strong {
	color: #333;
}

header {
	/*background-image: url("../mountain-background.jpg");*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  margin-bottom: 20px;
/*  padding-top: 20px;
*/}

#name-and-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: black;
	margin-right: 10rem;
}

#name-and-info h1 {
	vertical-align: top;
	margin-bottom: 5px;
}

.link-container a {
	display: inline-block;
	margin: auto 5px 5px 5px;
	font-size: 2rem;
}

.link-container a:hover {
	transform: scale(1.2, 1.2);
}

#portfolio-pic {
  display: flex;
	justify-content: center;
	align-items: center;
}

#img-circle {
	display: inline-block;
  border-radius: 50%;
  max-width: 11rem;
  max-height: auto;
}

#bio {
	box-sizing: border-box;
	text-align: center;
	width: 80%;
}

#blog {
	list-style: none;
	width: 80%;
	text-align: left;
	padding: 0;
}

.blog-post {
  margin: 2em auto;
}

.post-title {
	font-size: 2em;
	width: 100%;
	border-bottom: 1px solid #2B323D;
	margin-bottom: 0;
}

.post-date {
	font-size: 1em;
	font-style: italic;
	width: 100%;
	text-align: right;
	margin: 0;
}

.blog-text {

}

.inline-code, .code-snippet {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  font-size: 0.8em;
}

.inline-code {
	background-color: #D6D8DB;
}

.code-snippet {
	background-color: #33312C;
	border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
	color: white;
	padding: 1em;
}

.ruby-keyword {
	color: #F41151;
}

.ruby-string {
	color: #DBC164;
}

.ruby-module {
	color: #5ABCED;
	font-style: italic;
}

.ruby-argument {
	color: orange;
	font-style: italic;
}

.ruby-symbol {
	color: #B84FF9;
}

#footer-break {
	display: block;
	border-color: #2B323D;
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
	bottom: 0px;
	width: 100%;
}