body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	text-align: center;
	background-color: #C9CfD8;
}

header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  margin-bottom: 50px;
  padding-top: 20px;
}

#name-and-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#name-and-info h1 {
	margin-bottom: 5px;
}

#portfolio-pic {
	display: flex;
	justify-content: center;
	align-items: center;
/*	padding-top: 20px;
	padding-right: 20px;
*/	/*margin: 10px;*/
}

#img-circle {
  border-radius: 50%;
  max-width: 30%;
  max-height: auto;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #4D6C9E;
}

#footer-break {
	display: block;
	border-color: #123772;
	width: 100%;
}

#projects-link {
	font-size: 3rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	flex-wrap: wrap;
	bottom: 0px;
	width: 100%;
}

footer a {
	display: inline-block;
	margin: auto 5px 5px 5px;
}
